{% load translate %}
{% load static %}

<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label class="form-label">{% translate 'section_number' request.session.language %}</label>
                <input type="text" name="section_number" value="{{section.section_number}}" required class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">{% translate 'title' request.session.language %}</label>
                <input type="text" name="title" value="{{section.title}}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">{% translate 'offense' request.session.language %}</label>
                <textarea name="offense" style="display:none;">{{ section.offense|default:'' }}</textarea>
                <div class="editor rich-text-editor" data-target="offense">{{ section.offense|safe }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% translate 'penalty' request.session.language %}</label>
                <textarea name="penalty" style="display:none;">{{ section.penalty|safe|default:'' }}</textarea>
                <div class="editor rich-text-editor" data-target="penalty">{{ section.penalty|safe }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">{% translate 'note' request.session.language %}</label>
                <textarea name="note" style="display:none;">{{ section.note|safe|default:'' }}</textarea>
                <div class="editor rich-text-editor" data-target="note">{{ section.note|safe }}</div>
            </div>
        </div>
    </div>
</div>
